.section-title {
  font-size: 2.3rem;
  font-weight: bold;
  color: #28262d;
  /* Dark purple color */
  display: inline-flex;
  align-items: center;
  margin-bottom: 15px;
}

 /* Styling for the red bar */
  .red-bar {
    width: 10px;
    height: 1.3em; /* Matches the text height */
    background-color: #b00000; /* Red color */
    margin-right: 10px;
  }
  
  
.main-title {
  font-size: 2.5rem;
  font-weight: 700;
  background: linear-gradient(135deg, rgb(0, 17, 92) 0%, #7000e0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.form-control:focus,
.form-select:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.1);
}


.table-hover tbody tr:hover {
  background-color: rgba(0, 123, 255, 0.05);
}


.badge {
  font-size: 0.75rem;
}


.w-fit {
  width: fit-content !important;
}

.text-darkblue {
  color: #001a62;
}
