/* Add a highlight for event dates */
.react-calendar__tile.event-day {
    background-color: #ffeb3b;
    /* Yellow for event dates */
    color: #000;
    font-weight: bold;
}

.react-calendar__tile.event-day:hover {
    background-color: #fbc02d;
    /* Slightly darker yellow on hover */
}

.custom-calendar {
    width: 100% !important;
    /* Or set a fixed width like 350px */
    max-width: 100%;
    border: none;
}

.react-calendar__month-view__weekdays__weekday {
    font-weight: bold;
    font-size: 0.95rem;
    color: #007bff;
    /* Bootstrap primary color */
    background-color: #f0f8ff;
    text-align: center;
    padding: 8px 0;
    border-bottom: 1px solid #dee2e6;
    text-decoration: none !important;
    border: none !important;
}

.hover-scale {
  transition: transform 0.3s ease;
}

.card:hover .hover-scale {
  transform: scale(1.2);
}

.data-card{
  border-radius: 20px;
}

.text-darkblue {
  color: #1e3a8a; /* Dark blue color */
  font-family: "Roboto", sans-serif;
}

.bg-darkblue {
  background-color: #1e3a8a; /* Dark blue color */
  font-family: "Inter", sans-serif;
}

.bg-middleblue {
  background-color: #2563eb; /* Middle blue color */
  font-family: "Inter", sans-serif;
}

.bg-lightblue {
  background-color: #4f92ff; /* Light blue color */
  font-family: "Inter", sans-serif;
}

.vehicle-card{
  border: 1.5px solid #fc514e; /* Red border */
}

.vehicle-card:hover {
  transform: scale(1.025);
  border: 1.5px solid #ab120c; /* Light blue border on hover */
  transition: transform 0.5s ease;
}