.carousel-control-prev,
.carousel-control-next {
  width: 50px; /* Adjust width if needed */
  height: 100px; /* Adjust height if needed */
  top: 50%; /* Change the position from top (e.g., closer to the bottom) */
  transform: translateY(-50%); /* Center the buttons vertically */
}

.carousel-control-prev {
  left: 10px; /* Adjust distance from the left */
}

.carousel-control-next {
  right: 10px; /* Adjust distance from the right */
}

.header{
    top: 33%;
    left: 5%;
}

